@keyframes moveInBot {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes scaleToNormal {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  20% {
    transform: scale(0.3); }
  40% {
    transform: scale(0.5); }
  60% {
    transform: scale(0.7);
    opacity: 1; }
  80% {
    transform: scale(0.85); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes rotate360 {
  10% {
    transform: rotate(288deg);
    opacity: 0; }
  60% {
    transform: rotate(324deg); }
  70% {
    transform: rotate(360deg);
    opacity: 1; }
  80% {
    transform: rotate(396deg); }
  100% {
    transform: rotate(360deg); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #333;
  padding: 3rem; }

.login {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #eee;
  border-radius: 0.5rem; }
  .login__container {
    height: 70vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    background-color: #ccc;
    animation-name: moveInBot;
    animation-duration: 0.75s;
    animation-timing-function: ease-out; }
  .login__welcome {
    padding: 2rem;
    font-size: 3rem;
    letter-spacing: 0.05rem;
    transition: all 0.5s;
    display: inline-block;
    background-image: linear-gradient(to right, #555, #333, #aaa, #999, #777);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation-name: moveInBot;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .login__logo-container {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    overflow: hidden; }
  .login__logo-img {
    height: inherit;
    width: inherit;
    transition: all 0.3s; }
    .login__logo-img:hover {
      transform: scale(1.1); }
  .login__container-form {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .login__input {
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 16rem;
    border-radius: 10rem;
    color: inherit;
    border: 0.1rem solid #fff; }
    .login__input-left-animation {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .login__input-right-animation {
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .login__input:focus {
      outline: none;
      border: 0.1rem solid #ccc; }
    .login__input::placeholder {
      color: #999; }
  .login__btn {
    border: none;
    background: none;
    font-size: 3rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
    animation-name: scaleToNormal;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    .login__btn:hover, .login__btn:focus {
      outline: none;
      color: #777; }
