@keyframes moveInBot {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes scaleToNormal {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  20% {
    transform: scale(0.3); }
  40% {
    transform: scale(0.5); }
  60% {
    transform: scale(0.7);
    opacity: 1; }
  80% {
    transform: scale(0.85); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes rotate360 {
  10% {
    transform: rotate(288deg);
    opacity: 0; }
  60% {
    transform: rotate(324deg); }
  70% {
    transform: rotate(360deg);
    opacity: 1; }
  80% {
    transform: rotate(396deg); }
  100% {
    transform: rotate(360deg); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #555; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #333;
  padding: 3rem; }

.hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -100vw; }

.balance {
  display: flex;
  grid-column: 1;
  align-items: center;
  justify-content: space-between; }
  .balance__container-label-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem; }
  .balance__label {
    font-size: 2rem;
    font-weight: 700; }
  .balance__date {
    font-size: 1.4rem;
    color: #888; }
  .balance__value {
    font-size: 4.5rem;
    font-weight: 400; }

.btn {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #333;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  background-image: linear-gradient(to top left, #cba17b, #c0c0c0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: all 0.3s;
  cursor: pointer; }
  .btn__submit {
    color: inherit;
    animation-name: scaleToNormal;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    .btn__submit:hover {
      color: #555;
      transform: scale(1.1); }
    .btn__submit:focus, .btn__submit:active {
      outline: none;
      color: #777;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); }
    .btn__submit--logout {
      background: none;
      box-shadow: none;
      font-size: 2rem; }
      .btn__submit--logout:focus, .btn__submit--logout:active {
        box-shadow: none; }
  .btn--sort {
    margin-left: auto;
    background: none;
    font-size: 1.4rem;
    font-weight: 400; }
    .btn--sort:hover {
      transform: scale(1.1); }
    .btn--sort:focus, .btn--sort:active {
      outline: none;
      color: #777;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); }
  .btn__modal--show {
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 2rem;
    margin: 5rem 2rem;
    background-color: #fff;
    color: #333;
    border-radius: 10rem; }
    .btn__modal--show:hover {
      color: #555;
      transform: scale(1.1); }
    .btn__modal--show:focus, .btn__modal--show:active {
      outline: none;
      color: #777;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); }
  .btn__modal--close {
    padding: 1rem 2rem;
    font-size: 4.5rem;
    color: #333;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    background: none;
    box-shadow: none; }
    .btn__modal--close:hover {
      color: #555; }
    .btn__modal--close:focus, .btn__modal--close:active {
      outline: none;
      color: #777;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: #fff;
  padding: 6rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; }
  .modal__hidden {
    display: none; }
  .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.3rem);
    z-index: 5; }
  .modal__h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    align-items: center; }
  .modal__h2 {
    font-size: 2rem; }
  .modal__p-container {
    margin-bottom: 2rem; }
  .modal__p {
    align-items: center;
    font-size: 1.6rem; }
    .modal__p:not(:last-child) {
      margin-bottom: 0.6rem; }

.movements {
  grid-row: 2 / span 3;
  background-color: #ccc;
  border-radius: 1rem;
  overflow: scroll; }
  .movements__row {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.1rem solid #cba17b; }
  .movements__type {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #eee;
    padding: 1.5rem 3rem;
    border-radius: 10rem;
    margin-right: 2rem; }
    .movements__type--deposit {
      background-image: linear-gradient(to top left, #39b385, #9be15d); }
    .movements__type--withdrawal {
      background-image: linear-gradient(to top left, #e52a5a, #ff585f); }
  .movements__value {
    margin-left: auto; }

.summary {
  display: flex;
  grid-row: 5 / 6;
  align-items: baseline; }
  .summary__label {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 1rem; }
  .summary__value {
    font-size: 2rem;
    margin-right: 2rem; }
  .summary__value--in, .summary__value--interest {
    color: #66c873; }
  .summary__value--out {
    color: #f5465d; }

.app {
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  transition: all 0.3s; }

.login {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #eee;
  border-radius: 0.5rem; }
  .login__container {
    height: 70vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    background-color: #ccc;
    animation-name: moveInBot;
    animation-duration: 0.75s;
    animation-timing-function: ease-out; }
  .login__welcome {
    padding: 2rem;
    font-size: 3rem;
    letter-spacing: 0.05rem;
    transition: all 0.5s;
    display: inline-block;
    background-image: linear-gradient(to right, #555, #333, #aaa, #999, #777);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation-name: moveInBot;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .login__logo-container {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    overflow: hidden; }
  .login__logo-img {
    height: inherit;
    width: inherit;
    transition: all 0.3s; }
    .login__logo-img:hover {
      transform: scale(1.1); }
  .login__container-form {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .login__input {
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 12rem !important;
    border-radius: 10rem;
    color: inherit;
    border: 0.1rem solid #fff; }
    .login__input--left-animation {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .login__input--right-animation {
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .login__input:focus {
      outline: none;
      border: 0.1rem solid #ccc; }
    .login__input::placeholder {
      color: #999; }

.navigation {
  max-width: 160rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-image: linear-gradient(to top right, #c3c7c7, #c0c0c0, #cdcdcd);
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .navigation__welcome-logo-container {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .navigation__logo-container {
    margin: 1rem 0;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden; }
  .navigation__welcome-logo-img {
    height: inherit;
    width: inherit; }
  .navigation__user--time {
    display: flex;
    flex-direction: column; }
  .navigation__welcome-message {
    padding: 2rem;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    transition: all 0.5s; }
  .navigation__time {
    padding: 0 2rem;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    font-family: inherit; }
  .navigation__buttons {
    display: flex;
    gap: 2rem; }
