// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;
$color-grey-light-4: #bbb;

$color-test: blue;
$color-test-2: #ffb900;

$color-grey-dark-1: #333;
$color-grey-dark-2: #555;
$color-grey-dark-3: #777;
$color-grey-dark-3-5: #888;
$color-grey-dark-4: #999;
$color-grey-dark-5: #aaa;

$color-white: #fff;
$color-black: #000;

$color-gold: #cba17b;
$color-silver-1: #c0c0c0;
$color-silver-2: #cdcdcd;
$color-silver-3: #c3c7c7;

$color-green-1: #9be15d;
$color-green-2: #66c873;
$color-green-3: #39b385;

$color-red-1: #ff585f;
$color-red-2: #f5465d;
$color-red-3: #e52a5a;

// FONT SIZES
$tiny-font-size: 1.1rem;
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$big-font-size: 3rem;
$huge-font-size: 4rem;
$enormous-font-size: 4.5rem;

// FONT WEIGHTS
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$huge: 900;

// LETTER SPACINGS
$letter-sp-small: 0.05rem;

// LINE HEIGHTS
$default-line-height: 1.6rem;

// MARGINS
$margin-tiny: 1rem;
$margin-small: 2rem;
$margin-medium: 4rem;
$margin-big: 6rem;

// PADDINGS
$v-h-pad-regular: 3rem;

// BORDER RADIUS
$borad-tiny: 0.5rem;
$borad-small: 1rem;
$borad-medium: 4rem;
$borad-big: 7rem;
$borad-huge: 10rem;

// BUTTON WIDTHS
$width-btn-small: 12rem !important;
$width-btn-medium: 16rem !important;
$width-btn-big: 20rem !important;
