.btn {
  font-size: $medium-font-size;
  border: none;
  border-radius: $borad-tiny;
  background-color: transparent;
  background-image: linear-gradient(to top left, $color-gold, $color-silver-1);
  cursor: pointer;

  &__submit {
    padding: 1rem 2rem;

    color: inherit;
    box-shadow: 0 5px 10px rgba($color-black, 0.2);

    transition: all 0.3s;
    @include scaleToNormalSlowMixin;

    &:hover {
      color: $color-grey-dark-2;
      transform: scale(1.1);
    }

    &:focus,
    &:active {
      outline: none;
      color: $color-grey-dark-3;
      box-shadow: 0 5px 10px rgba($color-black, 0.4);
    }
  }

  &--sort {
    margin-left: auto;
    background: none;
    font-size: $small-font-size;
    font-weight: $regular;
  }
}
