.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border-radius: 2rem;
  border: none;
  box-shadow: 0 1rem 3.2rem 0 rgba(0, 0, 0, 0.8);
}
